.idea
__pycache__

/auto_camel.sh
/SubProcess/cube.sh

/SubProcess/test.fits
/SubProcess/test.py
/fit.sh
/SubProcess/auto_cube.sh
/Class/Model3D.py
/SubProcess/create_cube.py
/program_old/
/Example/header.py
/Example/mpfit_flat/
/Example/mpfit_exp/
